<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>myProjectForGitHub.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>483202331EE0826C00B39DD2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4832024A1EE0826C00B39DD2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>483202551EE0826C00B39DD2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
